.contact {
    background-image: url("/static/image/contact2.jpg");
    height: 600px;
    margin-top: 3rem;
    position: relative;
    background-size: cover;
 }
.contact .overlay_contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.content_contact {
    max-width: 700px;
    border: 15px solid #5ac116;
    padding: 20px;
}
.content_contact h1 {
font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.contact_form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    text-align: center;
    width: 70%;
    margin: 20px auto;
}
.contact_form h1 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.contact_form input,
.contact_form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    background-color: #0000002b;
}
.contact_form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #5ac116;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.contact_form button:hover {
    background-color: #4e9e0b;
}
.contact_info {
    background-image: url("/static/image/banner_contact.jpg");
    margin-top: 50px;
    text-align: center;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    flex-direction: row;
    padding: 50px;
    background-size: cover;
}
.carte{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
}
.contact_info .carte {
    background-color: #0000002b;
    padding: 15px;
    border-radius: 5px;
    width: 250px;

 }
.contact_info .carte h2 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
}
.contact_info .carte p {
    font-size: 14px;
}       
 .carte_icon {
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}
.carte_email {
gap : 20px;
}